<!DOCTYPE html>

<html>

<head>
  <title>Admin</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <script th:src="@{/admin.js}" defer></script>
  <link rel="stylesheet" type="text/css" media="all" data-th-href="@{/styles/main.css}" />
</head>

<body class="caveat ">

  <header style="
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    ">
    <h1>
      Admin Panel
    </h1>
    <button
      class="Button"
    >+ add
    </button>
  </header>


  <form id="formEdit">
  </form>


  <ol>
    <li 
    data-th-each="article : ${articles}" data-th-id="${article.blogID}">
      <p 
        style="
        display: inline-block;
        width: 30em ;"
      data-th-text="${article.title}"></p>
      <button class="Button" form="formEdit" formaction="http://localhost:8080/admin/">Edit</button>
      <button class="delete Button">Delete</button>
    </li>


  </ol>

</body>

</html>