<!DOCTYPE html>

<html>

  <head>
    <title>Personal Blog</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>

  <body>
  
    <h1 data-th-text="${article.title} ">Article</h1>
    <p data-th-text="${article.articleDate}"></p>
    <p data-th-text="${article.text}">
        On this page you can see articles related to Java, software engineering, AWS, React. Check
        out the articles below.
    </p>
    
    <ol data-th-each="title:${listOfTitles}">
        <li data-th-text="${title}"></li>
        
    </ol>
  
  </body>

</html>