<html lang="en">
<head>
    <!-- <meta charset="UTF-8"> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" 
          data-th-href="@{/styles/main.css}" />
    <title>Edit article</title>
</head>
<body>
    <h1>Actualizar artículo</h1>
    <form th-action="@{/blog/{blogID}(blogID=${blogID})}" method="post">
        <div>
            <input type="text" th-field="*{blog.title}">
        </div>
        <div>
            <input type="date" th-field="*{text}">
        </div>
        <div>
            <textarea  th-field="*{articleDate}"></textarea>
        </div>
         <input type="submit" value="Actualizar!" />
    </form>
    
</body>
</html>